@charset "UTF-8";
p {
  font-size: 1em;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

h1 {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: #234ab8;
  margin-top: 30px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

ol li {
  list-style-type: decimal;
}

.container__inner {
  max-width: calc(1310px - 40px);
  margin: 0 auto;
}

.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.breadcrumbs ul li:last-child a {
  padding-right: 0;
}
.breadcrumbs ul li:last-child a:after {
  content: "";
}

.breadcrumb {
  color: #b9b9b9;
  padding-right: 20px;
  border-bottom: 2px solid #b9b9b9;
}
.breadcrumb:hover {
  color: #333;
}
.breadcrumb:after {
  content: ">";
  right: -10px;
  position: relative;
}

.insteadphoto {
  background-color: #d3f0ff;
  background-image: url("../img/newFile/man.png");
  background-repeat: no-repeat;
  background-position: center;
}

.pulse {
  position: fixed;
  top: 50%;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #1c99d9;
  border-radius: 50%;
  animation: radial-pulse 2s infinite;
}
.pulse div {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-size: contain;
  background: url("../img/newFile/mail.png") no-repeat center;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0 #9fe1fa;
  }
  75% {
    box-shadow: 0 0 0 0 #9fe1fa;
  }
  100% {
    box-shadow: 0 0 0 20px #9fe1fa;
  }
}
.download {
  text-decoration: underline;
  color: #231f20;
}
.download:hover {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.pagination a {
  text-decoration: underline;
  color: #086fba;
  margin: 0 5px;
}
.pagination a:hover {
  text-decoration: none;
}

@media (max-width: 1310px) {
  .container__inner {
    width: 96%;
  }
}
@media (max-width: 991px) {
  .container__inner {
    width: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  .container__inner {
    padding-right: 10px;
    padding-left: 10px;
  }

  .pulse {
    width: 60px;
    height: 60px;
    left: 75%;
  }
  .pulse div {
    margin: 10px;
    padding: 0;
    background-size: contain;
  }
}
@media (max-width: 567px) {
  body {
    font-size: 13px;
  }
}
.footer__social-link svg {
  fill: #0d95e8;
}

.managers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-items: start;
}

.manager {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.manager__img {
  width: 210px;
  height: 210px;
  border: none;
  border-radius: 50%;
}
.manager__position {
  margin-top: 0;
}
.manager__name {
  color: #1c99d9;
  font-weight: 700;
  margin-bottom: -5px;
}
.manager__phone {
  margin: 0;
}
.manager__phone_title {
  font-weight: bold;
}
.manager__email {
  margin: 0;
}
.manager__email_title {
  font-weight: bold;
}
.manager__main {
  margin-bottom: 2px;
}

@media (max-width: 567px) {
  .manager {
    width: 100%;
  }
}
.managers-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px 50px;
  padding: 0 50px;
}

.managers-list__item {
  width: 46%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  margin-top: 50px;
}
.managers-list__item__img {
  width: 131px;
  height: 131px;
  border: none;
  border-radius: 50%;
  margin-right: 20px;
  flex: 0 0 131px;
}
.managers-list__item__position {
  max-width: 255px;
}

.managers-list__item_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: start;
}

@media (max-width: 880px) {
  .managers-list {
    padding: 0;
  }

  .managers-list__item {
    width: 100%;
  }
}
.documents__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
  margin-top: 50px;
}
.documents__row a {
  display: block;
  width: 100%;
}

.document__item {
  width: 252px;
  margin: 0 10px 60px;
  text-align: center;
  position: relative;
}

.document_img--on-text {
  margin: 0;
  position: absolute;
  top: 108px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 26.9px;
  line-height: 1.2;
  font-weight: 700;
  color: #231f20;
  text-transform: uppercase;
}

.provisions-size {
  font-size: 26.9px;
}

.document__head_text {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  text-align: center;
}

.text-smaller {
  font-size: 20px;
}

@media (max-width: 767px) {
  .documents__row {
    justify-content: space-around;
  }

  .document__item {
    margin: 0 10px;
  }
}
.documents__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-around;
  margin-top: 50px;
}
.documents__row a {
  display: block;
  width: 100%;
}

.document__item {
  width: 252px;
  margin: 0 10px 60px;
  text-align: center;
  position: relative;
}

.document_img--on-text {
  margin: 0;
  position: absolute;
  top: 108px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: #231f20;
  text-transform: uppercase;
}

.document__head_text {
  max-width: 1000px;
}

.text-smaller {
  font-size: 20px;
}

@media (max-width: 767px) {
  .documents__row {
    justify-content: space-around;
  }

  .document__item {
    margin: 0 10px;
  }
}
.event__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.event__item a {
  color: #086fba;
  transition: opacity 100ms;
}
.event__item a:hover {
  opacity: 0.7;
}

.event__item_img {
  width: 208px;
  height: 100%;
  margin-right: 35px;
}
.event__item_img img {
  height: 100%;
  width: auto;
}

.event__item_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  margin-right: 50px;
}

.event__item_add {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.event__item_date {
  font-size: 13.5px;
  line-height: 19px;
  color: #737373;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.read-more {
  text-decoration: underline;
  margin-right: 20px;
}
.read-more:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  .event__item_text {
    margin-right: 0;
  }

  .event__item_date {
    left: 0;
    transform: initial;
  }
}
@media (max-width: 568px) {
  .event__item_title {
    margin-top: 10px;
  }

  .event__item {
    flex-direction: column;
  }

  .event__item_img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
  .event__item_img img {
    height: auto;
    width: 100%;
  }
}
.historyAssoc {
  margin-bottom: 40px;
}
.historyAssoc p {
  font-size: 19.8px;
  line-height: 28px;
}
.historyAssoc span {
  margin-left: 20px;
  margin-right: 10px;
}

.strategyAssoc {
  margin-bottom: 40px;
  font-size: 19.8px;
  line-height: 28px;
}
.strategyAssoc h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}
.strategyAssoc h5 {
  font-size: 1em;
  font-weight: 700;
}
.strategyAssoc h6 {
  font-weight: 700;
  text-align: center;
  font-size: 1em;
  max-width: 800px;
  margin: 0 auto;
}
.strategyAssoc .list__circle {
  display: block;
  margin-left: 40px;
  margin-bottom: 5px;
  position: relative;
}
.strategyAssoc .list__circle:before {
  content: "●";
  position: absolute;
  left: -20px;
}

.strategyAssoc__right-block {
  margin-left: auto;
  max-width: 270px;
  text-align: right;
}

ol li {
  padding-left: 10px;
  margin-bottom: 5px;
}

.main-img {
  margin-bottom: 75px;
}

.join {
  margin-bottom: 50px;
}

.join p {
  font-size: 19.8px;
  line-height: 27px;
}

.join_motivation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #ed1c24;
  margin: 50px auto;
}
.join_motivation div {
  font-family: MyriadPro, serif;
  font-size: 159.8px;
  line-height: 217px;
  letter-spacing: -0.12em;
  margin-right: 40px;
}
.join_motivation p {
  font-size: 25.2px;
  line-height: 34px;
  margin: 0 0 15px;
}

.join__opportunities {
  margin: 0 50px;
  padding-left: 160px;
  background-position: top left;
  background-repeat: no-repeat;
}
.join__opportunities h5 {
  font-size: 19.9px;
  line-height: 27px;
  text-transform: uppercase;
  color: #086fba;
  font-weight: 400;
  margin-bottom: 40px;
}
.join__opportunities ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 920px;
  margin-bottom: 50px;
  padding-left: 20px;
  position: relative;
  font-size: 19.8px;
  line-height: 27px;
}
.join__opportunities ul li:before {
  content: "";
  width: 4px;
  height: 56px;
  background: #234ab8;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.join__opportunities ul li:after {
  content: "";
  height: 100%;
  min-height: 56px;
}

.join h4 {
  font-size: 28.8px;
  line-height: 38px;
  text-align: center;
  font-weight: 400;
}

.opportunities-right {
  background-image: url("../img/newFile/right.png");
}

.opportunities-development {
  background-image: url("../img/newFile/development.png");
}

.opportunities-fluence {
  background-image: url("../img/newFile/fluence.png");
}

.join-responsibility p {
  font-weight: bold;
}

.join-responsibility ul li {
  font-size: 19.8px;
  line-height: 27px;
}

.management-structure__img {
  width: 50%;
  margin: 0 auto;
}

.goverment__head_text {
  text-align: left;
  margin-left: 50px;
  font-size: 19.8px;
  line-height: 27px;
}

.announc__detail_head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.announc__detail_head h1 {
  max-width: 50%;
  font-size: 1rem;
}

.announc__detail_date {
  color: #737373;
  font-size: 13.5px;
}

.announc__detail_article_img {
  max-width: 80%;
  margin: 0 auto;
}

.announc__list {
  margin-top: 45px;
}

.event__list {
  margin-top: 45px;
}

.innovation__img {
  width: 136px;
  height: 136px;
  margin: 70px auto;
}

.contacts__map {
  width: 50%;
  margin: 50px auto 70px;
}

.social-item {
  display: block;
  position: relative;
  overflow: hidden;
  width: 80px;
  margin: 0 10px;
}
.social-item:before {
  content: "";
  position: absolute;
  left: -100%;
  top: -10px;
  bottom: -10px;
  width: 30px;
  background: rgba(255, 255, 255, 0.6);
  transform: rotate(22deg);
  transition: all 0.2s ease-in;
}
.social-item:hover {
  transform: translateY(1px);
}
.social-item:hover:before {
  left: 150%;
}
.social-item img {
  width: 80px;
  height: 80px;
}

.contact__social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__social h3 {
  font-size: 16.6px;
  line-height: 22px;
  text-transform: uppercase;
  color: #086fba;
}
.contact__social div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact__requisites {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 3px solid #b9b9b9;
  border-top: 3px solid #b9b9b9;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 60px;
}

.contact__requisites__head {
  display: block;
  margin-bottom: 30px;
}

.contact__goverment {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .contacts__map {
    width: 75%;
  }

  .announc__detail_head h1 {
    max-width: 100%;
  }

  .announc__detail_head {
    flex-direction: column;
    align-items: flex-start;
  }

  .historyAssoc p {
    font-size: 1.5rem;
  }

  .strategyAssoc p {
    font-size: 1rem;
  }

  .strategyAssoc ol {
    padding-left: 10px;
  }
  .strategyAssoc ol li {
    font-size: 1rem;
    padding-left: 0;
  }

  .strategyAssoc .list__circle {
    margin-left: 0;
  }
  .strategyAssoc .list__circle:before {
    position: relative;
    left: 0;
  }

  .join p {
    font-size: 1rem;
  }

  .join__opportunities {
    padding-left: 0;
    margin: 0;
    background: none;
  }
}
@media (max-width: 567px) {
  .contact__requisites {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contacts__map {
    width: 100%;
  }

  .join_motivation div {
    font-size: 80px;
    margin-right: 17px;
    margin-left: -20px;
    line-height: 1;
  }

  .join_motivation p {
    font-size: 13px;
    line-height: 26px;
  }

  .join-responsibility ul li {
    font-size: 1rem;
  }

  .join h4 {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=newStyle.css.map */
