.managers
  @include flexRow
  justify-content: space-around
  align-items: start

.manager
  max-width: 50%
  @include flexColumn
  text-align: center

  &__img
    width: 210px
    height: 210px
    border: none
    border-radius: 50%

  &__position
    //max-width: 255px
    margin-top: 0


  &__name
    color: $mainColor
    font-weight: 700
    margin-bottom: -5px

  &__phone
    margin: 0

    &_title
      font-weight: bold

  &__email
    margin: 0

    &_title
      font-weight: bold

  &__main
    margin-bottom: 2px

@media (max-width: 567px)
  .manager
    width: 100%